body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;
  width: 100vw;
  background: #1d4522;
}

li, #navLinks {
  list-style-type: none;
  color: yellow;
  font-size: 18pt;
  display: inline-flex;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#Logo {
  display: block;
  height: 150px;
  margin: auto;
}
